.container {
  display: flex;
  flex-direction: column;
  width: 40px;
  background-color: #f0f0f0;
  height: 100vh;
  transition: all 0.3s ease;

  &.expanded {
    width: 200px;
  }

  .header {
    display: flex;
    flex-direction: row;
    float: right;
    box-sizing: border-box;
    height: 40px;

    button {
      .header-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 4px;

    button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      gap: 10px;

      &.active {
        background-color: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
      }

      .menu-icon {
        min-width: 20px;
        width: 20px;
        height: 20px;
        font-size: 20px;
      }

      .menu-text {
        opacity: 0;
        max-width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: opacity 0.3s ease, max-width 0.3s ease;
        font-size: medium;

        &.expanded {
          opacity: 1;
          max-width: 150px;
        }
      }
    }

    &.expanded {
      button {
        .menu-text {
          display: inline;
        }
      }
    }
  }
}
