.container {
  display: flex;
  flex-direction: column;
  width: 40px;
  background-color: #f0f0f0;
  height: 100vh;
  transition: all 0.3s ease;

  &.expanded {
    width: 200px;
  }

  .header {
    display: flex;
    flex-direction: row;
    float: right;
    box-sizing: border-box;
    height: 40px;

    button {
      .header-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    // margin-top: 20px;

    button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;

      .menu-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-right: 10px;
      }

      .menu-text {
        display: none;
        transition: all 0.4s ease;
        font-size: medium;

        &.expanded {
          display: inline;
        }
      }
    }

    &.expanded {
      button {
        .menu-text {
          display: inline;
        }
      }
    }
  }
}
