.title-bar {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 100dvw;
  box-sizing: border-box;
  -webkit-app-region: drag;
}
