.pomodoro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .session-type {
    font-size: 1.2rem;
    color: #555;
    font-weight: bold;
  }
}

.pomo-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 24px;

  .custom-spinner {
    box-shadow: 0 0 0 10px #e0e0e0 inset; /* 10px should match your spinner's strokeWidth */
    border-radius: 50%;
  }

  .pomodoro-timer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pomo-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pomo-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  font-weight: 500;
}
