.pomodoro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.custom-spinner {
  box-shadow: 0 0 0 10px #e0e0e0 inset; /* 10px should match your spinner's strokeWidth */
  border-radius: 50%;
}
